.view-all a {
  color: black;
  border: 1px solid #00000020;
  padding: 12px 48px;
  border-radius: 32px;
}

.new-arrivals-section {
  margin-top: 128px;
}

.new-arrivals-section h1 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.new-arrivals-section .view-all {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 64px;
}

.product-cards {
  padding: 64px;
  display: flex;
  gap: 16px;
  /* justify-content: space-between; */
}

.product-card {
  font-family: "Zain", sans-serif;
  width: 25%;
}

.card-bottom-section span {
  display: flex;
}

.card-bottom-section p {
  font-size: 20px;
  font-weight: 700;
}

.card-bottom-section .price {
  font-size: 24px;
  font-weight: 800;
}

.card-bottom-section span .rating {
  font-size: 14px;
  font-weight: 600;
  color: #00000090;
}

.card-img-section img {
  width: 100%;
}

/* ---------------- media queries --------------- */

@media only screen and (max-width: 1200px) {
  .card-bottom-section p {
    font-size: 28px;
  }

  .card-bottom-section .price {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .card-bottom-section p {
    font-size: 16px;
  }

  .card-bottom-section .price {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .card-bottom-section p {
    font-size: 12px;
  }

  .card-bottom-section .price {
    font-size: 20px;
  }

  .new-arrivals-section h1 {
    font-size: 36px;
  }
  .product-cards {
    padding: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .new-arrivals-section {
    position: relative;
    top: 150px;
    padding-left: 32px;
  }

  .card-bottom-section {
    width: 180%;
  }
  .card-bottom-section p {
    font-size: 24px;
  }

  .card-bottom-section .price {
    font-size: 28px;
  }

  .new-arrivals-section h1 {
    font-size: 28px;
  }
  .product-card {
    width: 100%;
  }

  .product-cards {
    padding-inline: 0;
    gap: 120px;
    overflow-x: auto;
  }
  .card-img-section img {
    width: 180%;
  }
  .new-arrivals-section .view-all {
    position: relative;
    top: 30px;
  }
}
